@import "../../assets/scss/variables";

.ArrowButton {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: $color-white;
  cursor: pointer;
  padding: $space-0 $space-1;

  img {
    height: 1.3rem;
  }
}

.ArrowButton:hover {
  background-color: $color-grey;
}
